# dependencies
node_modules/
.pnp
.pnp.js

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# os
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# ide
.vscode/
.idea/

# temp
.cache/
*.tmp

# docs temporales
docs/_*.json
docs/_*.html
docs/_*.txt
